<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BoardiesITSolutions.FileDirectoryPicker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".DirectoryPicker"
            android:theme="@style/FilePickerTheme"
            android:label="@string/choose_directory"/>
        <activity android:name=".CreateDirectory"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:label="@string/create_directory"/>
        <activity android:name=".RenameDialog"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:label="@string/rename"/>
        <activity android:name=".OpenFilePicker"
            android:theme="@style/FilePickerTheme"
            android:label="@string/choose_file"/>
        <activity android:name=".SaveFilePicker"
            android:theme="@style/FilePickerTheme"
            android:label="@string/save_file" />
    </application>
</manifest>
